html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: "Raleway", sans-serif;
  min-width: 320px;
  line-height: 1.4em;
  color: #242424;
  font-size: 15px;
  font-weight: 400;
  height: 100%;
  overflow: hidden;
  width: 100%;
}
body::before {
  background: #CCC url("../../uploads/home.jpg") no-repeat fixed center top/cover;
  content: "";
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
  filter: opacity(0.6);
}

.white,
.white-bg {
  color: #fff;
}

.gray {
  color: #949494;
}

a, a:hover {
  text-decoration: none;
}

.fa-stack3x {
  display: inline-block;
  height: 3em;
  line-height: 3em;
  position: relative;
  vertical-align: middle;
  width: 3em;
}

.fa-stack-3x {
  font-size: 3em;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.btn {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.z-1 {
  z-index: 1;
}

.wrapper {
  height: 100%;
}

.sub_titles {
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 43px;
  position: relative;
}

.icon-experience::before,
.icon-education::before,
.icon-skills-pro::before,
.icon-skills-gra::before,
.icon-skills-version::before,
.icon-skills-workflow::before,
.icon-skills-vendor::before,
.icon-desc::before,
.icon-det::before {
  background: #F9B73F;
  box-shadow: 0 0 0 4px #ef9a00;
  width: 30px;
  height: 30px;
  font-size: 0.9em;
  color: #fff;
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  border-radius: 100%;
  font-family: "FontAwesome";
  padding: 4px 6px;
}

.icon-experience::before {
  content: "\f0f2";
}

.icon-education::before {
  content: "\f02d";
  padding: 5px 7px;
}

.icon-skills-pro::before {
  content: "\f121";
  padding: 5px 4px;
}

.icon-skills-gra::before {
  content: "\f1fc";
  padding: 5px 4px;
}

.icon-skills-version::before {
  content: "\f126";
  padding: 5px 8px;
}

.icon-skills-workflow::before {
  content: "\f1c9";
  padding-left: 8px;
  padding-top: 5px;
}

.icon-skills-vendor::before {
  content: "\f12e";
  font-size: 1.2rem;
  padding: 4px 7px;
}

.icon-desc::before {
  content: "\f0ea";
}

.icon-det::before {
  content: "\f0ca";
}

.coming-soon-overlay, #portfolio .content .portfolio-grid li.coming-soon::before, #portfolioModal .avatar-container.coming-soon:after {
  content: "Coming Soon!";
  background-color: rgba(0, 0, 0, 0.7);
  color: #F6AA00;
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: bold;
  height: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 10;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .coming-soon-overlay, #portfolio .content .portfolio-grid li.coming-soon::before, #portfolioModal .avatar-container.coming-soon:after {
    font-size: 19px;
  }
}

.navbar-light .navbar-toggler {
  background-color: #fff;
  cursor: pointer;
  top: 20px;
  z-index: 200;
}

#portfolioModal {
  background-color: #fff;
}
#portfolioModal table.details {
  font-size: 12px;
}
#portfolioModal footer {
  height: 20px;
  background-color: #949494;
  color: #fff;
  display: inline-table;
  padding: 38px 20px;
}

.content-picture {
  animation-delay: 1s;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-full {
  padding: 0;
}
.modal-full .modal-dialog {
  margin: 0;
  max-width: 100%;
}
.modal-full .modal-dialog .modal-header {
  border-bottom: 0;
}
.modal-full .modal-dialog .title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#menuHome {
  animation-duration: 1.2s;
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  /* Change to "X" when Menu is open */
}
#menuHome .logo .jose,
#menuHome .logo .molina {
  font-size: 27px;
  padding: 1px 6px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
}
#menuHome .logo .jose {
  background-color: #F6AA00;
  border-radius: 15px 0 22px 15px;
  padding: 0 11px;
}
#menuHome .logo .molina {
  color: #242424;
}
#menuHome .navbar-toggler .navbar-toggler-icon {
  transition: all 0.4s ease 0s;
}
#menuHome .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8L24 24M8 24L24 8'/%3E%3C/svg%3E");
}
#menuHome #navbarHeader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  #menuHome #navbarHeader {
    filter: drop-shadow(4px 2px 8px rgba(0, 0, 0, 0.5));
    width: 100%;
  }
  #menuHome #navbarHeader .navbar-nav {
    background-color: rgba(255, 255, 255, 0.95);
  }
}
#menuHome #navbarHeader li {
  padding: 17px 16px;
  transition: all 0.4s ease 0s;
}
@media only screen and (max-width: 1065px) {
  #menuHome #navbarHeader li {
    padding: 17px 4px;
    text-align: center;
  }
}
@media only screen and (max-width: 991px) {
  #menuHome #navbarHeader li {
    padding: 2px 16px;
    text-align: center;
  }
}
#menuHome #navbarHeader li.active a.nav-link {
  color: #F6AA00;
}
#menuHome #navbarHeader li a.nav-link {
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
#menuHome #navbarHeader li a.nav-link:hover {
  color: #F6AA00;
}
@media only screen and (max-width: 991px) {
  #menuHome #navbarHeader li a.nav-link {
    color: #242424;
  }
}
#menuHome.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
}
#menuHome.bg-faded #navbarHeader li a.nav-link {
  color: #242424;
}
#menuHome.bg-faded #navbarHeader li a.nav-link:hover {
  color: #F6AA00;
}
#menuHome.bg-faded #navbarHeader li.active a.nav-link {
  color: #F6AA00;
}

.page {
  float: left;
  height: 100%;
  position: relative;
  width: 100%;
}

.content {
  background-color: #fff;
  border-top: 83px solid transparent;
  float: right;
  height: 100%;
  overflow-y: scroll;
  padding: 60px 30px 30px;
}
.content .title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.content .title::after {
  background-color: rgba(246, 170, 0, 0.95);
  border: 1px solid #F6AA00;
  border-radius: 15px 0 22px 15px;
  content: "";
  display: block;
  filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.5));
  height: 16px;
  margin-top: 5px;
  width: 164px;
}
.content p {
  line-height: 26px;
  margin-top: 25px;
}
.content .tags {
  color: #949494;
}
.content .tags.bg-education {
  position: relative;
  overflow: hidden;
}
.content .tags.bg-education::after {
  width: 30px;
  height: 30px;
  font-size: 11em;
  transform: rotate(10deg);
  color: rgba(148, 148, 148, 0.3);
  content: "";
  position: absolute;
  top: 36px;
  right: 170px;
  content: "\f19d";
  font-family: "FontAwesome";
}
.content .tags a.top {
  position: absolute;
  right: 0;
  top: -7px;
  z-index: 1000000;
}
.content .tags .icon {
  font-weight: 700;
  font-size: 14px;
}
.content .tags .icon .fa {
  margin-right: 4px;
}
.content .card {
  overflow: hidden;
}
.content .card .date {
  font-weight: 700;
  padding: 0.6rem 1.25rem;
}
.content .card .date::after {
  width: 30px;
  height: 30px;
  font-size: 3em;
  transform: rotate(10deg);
  color: rgba(148, 148, 148, 0.3);
  content: "";
  position: absolute;
  top: 9px;
  right: 26px;
  content: "\f073";
  font-family: "FontAwesome";
}
.content .card.detail {
  overflow: visible;
}
.content .card.detail::before {
  background-color: white;
  border: 1px solid #F6AA00;
  border-bottom: 0;
  border-top: 0;
  content: "";
  height: 6px;
  left: 32px;
  position: absolute;
  top: -6px;
  width: 6px;
}
.content .card.detail.connect::after {
  filter: drop-shadow(0px 1px 6px rgba(0, 0, 0, 0.3));
  background-color: transparent;
  border: 4px solid #fff;
  border-left: 0;
  bottom: -66px;
  content: "";
  height: 80px;
  position: absolute;
  right: -19px;
  width: 18px;
  z-index: 50;
}
.content .card.detail small {
  font-size: 75%;
  float: left;
  width: 100%;
}

#home {
  background-color: rgba(0, 0, 0, 0.23);
  color: #fff;
}
#home #info {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 22%;
  z-index: 10;
  color: #fff;
}
#home #info .title {
  font-size: 75px;
  line-height: 75px;
  text-align: center;
  animation-duration: 1s;
}
#home #info .title span {
  font-weight: 700;
  text-transform: uppercase;
}
#home #info .title_sup {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  animation-duration: 2.2s;
}
#home #info .title_sup i {
  font-size: 24px;
}
#home #info .icons {
  display: table;
}
#home #info .icons li {
  position: relative;
  animation-duration: 1.2s;
}
#home #info .icons li .bg-circle {
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
#home #info .icons li .bg-circle .fa {
  display: block;
  height: 100%;
  margin: 0 auto;
  padding-top: 0.5em;
  text-align: center;
  transition: all 0.4s ease 0s;
}
#home #info .icons li .bg-circle:hover {
  background: rgba(1, 76, 140, 0.55) none repeat scroll 0 0;
}
#home #info .icons li .bg-circle:hover .fa.fa-inverse {
  transform: translateY(-46px);
  transition: all 0.4s;
}
#home #info .icons li .bg-circle:hover .fa.mt-3 {
  transform: translateY(-78px);
  transition: all 0.4s;
  color: #fff;
}
#home p.bubble {
  animation-delay: 1.2s;
  transition: all 0.9s;
  background-color: rgba(246, 170, 0, 0.95);
  border: 1px solid #F6AA00;
  border-radius: 15px 0 22px 15px;
  content: "";
  display: block;
  height: 48px;
  position: absolute;
  bottom: 0;
  width: 164px;
  filter: drop-shadow(4px 2px 8px rgba(0, 0, 0, 0.5));
  letter-spacing: 0.5px;
}
#home p.bubble .fa {
  transition: all 0.9s;
  color: rgba(121, 121, 121, 0.4);
  padding-top: 4px;
}
#home p.bubble.first {
  transform: rotate(-4deg);
  z-index: 10;
  right: 190px;
}
#home p.bubble.first:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  z-index: 30;
}
#home p.bubble.first:hover .fa {
  transition: all 0.9s;
  color: #fff;
}
#home p.bubble.second {
  transform: rotate(4deg);
  z-index: 20;
  right: 30px;
}
#home p.bubble.second:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
}
#home p.bubble.second:hover .fa {
  transition: all 0.9s;
  color: #fff;
}
#home p.bubble a:hover {
  color: #fff;
}

#aboutme .tags .icon .fa {
  text-align: center;
  min-width: 35px;
}
#aboutme .content-picture {
  background: transparent url("../../uploads/aboutme.jpg") no-repeat local center center/cover;
}

#resume .content-picture {
  background: transparent url("../../uploads/resume.jpg") no-repeat local center center/cover;
}

#skills .content-picture {
  background: transparent url("../../uploads/skills.jpg") no-repeat local center center/cover;
}
#skills .content .circles .card {
  border: 0;
  background-color: transparent;
}
#skills .content .circles .card .card-header {
  border: 0;
  background-color: transparent;
}
#skills .content .circles .card .card-title {
  font-size: 0.9rem;
  text-align: center;
}
#skills .progress-skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#skills .progress-skills-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1rem;
  padding-left: 20px;
  position: relative;
}
#skills .progress-skills-info:hover .image-container img {
  filter: none;
}
#skills .progress-skills-info .label {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -17px;
}
#skills .progress-skills-info .progress {
  align-items: center;
  background-color: transparent;
  border: 1px solid #014C8C;
  height: 10px;
  width: 100%;
}
#skills .progress-skills-info .progress-bar {
  border-radius: 0.25rem;
  height: 6px;
}
#skills .progress-skills-info .image-container {
  position: absolute;
  top: -12px;
  left: -2px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skills .progress-skills-info .image-container img {
  filter: grayscale(100%);
  height: auto;
  max-height: 100%;
  max-width: 25px;
}
#skills .progress-skills-info .image-container img.extra-small {
  max-width: 12px;
}
#skills .progress-skills-info .image-container img.small {
  max-width: 22px;
}
#skills .progress-skills-info .image-container img.big {
  max-width: 31px;
}
#skills .progress-skills--vendor {
  gap: 0;
}
#skills .progress-skills--vendor .progress-skills-info {
  align-items: flex-start;
  padding-left: 0;
}
@media only screen and (max-width: 767px) {
  #skills .progress-skills--vendor .progress-skills-info {
    flex-direction: column;
    gap: 0;
  }
}
#skills .progress-skills--vendor .progress-skills-info .name {
  font-weight: bold;
  min-width: 100px;
}
@media only screen and (max-width: 767px) {
  #skills .progress-skills--vendor .progress-skills-info .name {
    line-height: 1;
  }
}
#skills .progress-skills--vendor .progress-skills-info .name::after {
  display: none;
}
#skills .progress-skills--vendor img {
  filter: grayscale(100%);
  height: auto;
  max-height: 100%;
  max-width: 25px;
}
#skills .progress-skills--vendor img.extra-small {
  max-width: 18px;
}
#skills .progress-skills--vendor img.small {
  max-width: 22px;
}
#skills .progress-skills--vendor img.big {
  max-width: 31px;
}

#portfolio .content-picture {
  background: transparent;
}
#portfolio .content .portfolio-filters {
  border: 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 651px) {
  #portfolio .content .portfolio-filters {
    justify-content: flex-start !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
#portfolio .content .portfolio-filters a {
  color: #fff;
  background-color: #949494;
  font-size: 13px;
}
#portfolio .content .portfolio-filters a.active {
  background-color: #F6AA00;
  color: #fff;
  border-color: transparent;
}
#portfolio .content .portfolio-grid {
  float: left;
  margin: 10px 0;
  width: 100%;
}
#portfolio .content .portfolio-grid li {
  width: 25%;
  max-height: 204px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
@media only screen and (max-width: 1015px) {
  #portfolio .content .portfolio-grid li {
    max-height: 204px;
    width: 50%;
  }
}
#portfolio .content .portfolio-grid li .img-fluid {
  transition: all 0.4s ease 0s;
}
#portfolio .content .portfolio-grid li:hover .img-fluid {
  transform: scale(1.2);
}
#portfolio .content .portfolio-grid li .shadow {
  background-color: rgba(46, 54, 57, 0.65);
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;
  position: absolute;
}
#portfolio .content .portfolio-grid li .shadow p {
  padding: 5px 30px;
  margin: 0;
  color: #fff;
  width: 100%;
  background-color: rgba(246, 170, 0, 0.8);
  left: 0;
  bottom: 0;
  position: absolute;
}
@media only screen and (max-width: 400px) {
  #portfolio .content .portfolio-grid li .shadow p span {
    display: none;
  }
}
@media only screen and (max-width: 651px) {
  #portfolio .content .portfolio-grid li .shadow p {
    font-size: 0.8rem;
    line-height: 1;
    min-height: 22px;
  }
}
#portfolio .content .portfolio-grid li .shadow p::before {
  width: 20px;
  height: 20px;
  font-family: "FontAwesome";
  content: "\f002";
  left: 10px;
  position: absolute;
}

#contactme .content-picture {
  background: transparent url("../../uploads/contactme.jpg") no-repeat local center center/cover;
}
#contactme .content .tags .icon .fa {
  min-width: 30px;
}
#contactme .content .icons {
  display: table;
}
#contactme .content .icons li {
  position: relative;
  animation-duration: 1.2s;
}
#contactme .content .icons li .bg-circle {
  background: rgba(255, 255, 255, 0.98) none repeat scroll 0 0;
  border-radius: 50%;
  display: block;
  width: 4em;
  height: 4em;
  overflow: hidden;
}
#contactme .content .icons li .bg-circle .fa {
  display: block;
  height: 100%;
  margin: 0 auto;
  padding-top: 0.5em;
  text-align: center;
  transition: all 0.4s ease 0s;
  color: #242424;
}
#contactme .content .icons li .bg-circle:hover {
  background: #014C8C none repeat scroll 0 0;
}
#contactme .content .icons li .bg-circle:hover .fa.fa-inverse {
  transform: translateY(-46px);
  transition: all 0.4s;
}
#contactme .content .icons li .bg-circle:hover .fa.mt-3 {
  transform: translateY(-78px);
  transition: all 0.4s;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
